/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

.jumbotron {
  background-color: #007bff; /* Bleu primaire */
  color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0; /* Supprimer les coins arrondis */
}

/* Style pour les titres des événements */
.event-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Style pour les détails des événements */
.event-details {
  font-size: 1rem;
  color: #6c757d; /* Gris moyen */
  margin-bottom: 1rem;
}

/* Style pour les boutons */
.btn-custom {
  background-color: #007bff; /* Bleu primaire */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #0056b3; /* Bleu primaire plus foncé au survol */
}